.root {
  height: 100vh;
  display: flex;
  align-items: center;
}

.main {
  background: #fff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  display: block;
  flex-shrink: 0;
  margin: 0 auto;
  max-width: 450px;
  width: 100%;
  min-height: 500px;
  height: auto;
  padding: 48px 40px 36px;
}

.main input {
  direction: ltr;
  text-align: left;
  border-radius: 4px;
  color: #202124;
  font-size: 16px;
  height: 28px;
  margin: 1px 1px 0 1px;
  padding: 13px 15px;
  z-index: 1;
  outline: none;
  border: 1px solid #dadce0;
  width: 94%;
}

.main button {
  background-color: rgb(26, 115, 232);
  color: #fff;
  font-size: 0.875rem;
  letter-spacing: 0.0107142857em;
  font-weight: 500;
  text-transform: none;
  box-shadow: none;
  border: none;
  border-radius: 4px;
  padding: 10px;
  height: 36px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 500px) {
  .main {
    width: 350px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
